extends layout

block content
  h1= title
  p search for a trunk here.
  p= color
  form(method='get' action="/search_trunk")
    h2 Desired Trunk:
    .blur_bg
      label Year 
        select(class='year' id="#{i}", name="#{i}")
          -for(var i = 2016; i>=1994;i--){
          option(value="#{i}") #{i}
          -}
      label Model 
        select(class="model" disabled='disabled')
          option(id="wrx" type="text" class="dropdown") WRX
          option(id="sti" type="text" class="dropdown") STI
      label Color 
        select(class="color")
          option(id="ism" class="dropdown") Ice Silver Metallic
          option(id="wrb" class="dropdown") World Rally Blue
          option(id="swb" class="dropdown") Satin White Pearl
      label Year 
        select(class='color' id="#{i}", name="#{i}")
          -for(var i = 2016; i>=1994;i--){
          option(value="#{i}") #{i}
          -}
      label Trunk Style 
        select(class="trunkStyle" id='trunkStyle')
          option(id="wing" class="dropdown") STI Wing W/ Backup Camera
          option(id="wingless" class="dropdown") WRX Wingless
          option(id="lip" class="dropdown") WRX Lip W/ Backup Camera
    .dropdown
      label Trunk Style
        ul
          li
            span STI Wing W/ Backup Camera
          li
            span WRX Wingless
          li
            span WRX Lip W/ Backup Camera




    //- this is the basic year form...
    //- form(method='get' action="/search_trunk")
    //-   h2 Desired Trunk:
    //-   label Year
    //-     select(class="year")
    //-       option(id="2016" type="text" class="dropdown") 2016
    //-       option(id="2015" type="text" class="dropdown") 2015
    //-       option(id="2014" type="text" class="dropdown") 2014


  